

form > label {
    display: block;
}

input {
    margin: 5px 0;
    padding: 5px;
}
.heading, .morgage-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.morgage-input {
    width: 100%;
}

.radio-div {
    padding: 5px ;
    border: 1px solid blue; 
    border-radius: 5px;
    margin-bottom: 5px;
}

